<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>MVarandas</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro
			</h1>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" th:action="@{/clientes/salvar}" th:object="${cliente}" class="form-vertical  js-form-loading">

			<!-- MENSAGEM DE SUCESSO -->
    		<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
	    		<span th:text="${mensagem}"></span>
	    		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    				<span aria-hidden="true">&times;</span>
    			</button>
    		</div>
    		
    		<!-- ALERTA DE CAMPOS VALIDADOS-->
    		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
	    		 <div th:each="error : ${#fields.detailedErrors()}">
	    			<span th:text="${error.message}"></span>
	    		</div>
    		</div>
			
			<!-- NOME | RUA | NÚMERO -->
			<div class="row">
				<!-- Nome -->
				<div class="col-sm-3">
					<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label for="nome"><span style="color: red;">* </span>Nome</label>
						<input id="nome" th:field="*{nome}" type="text" class="form-control" placeholder="Nome"/>
					</div>
				</div>
				
				<!-- Rua -->
				<div class="col-sm-3">
					<div class="form-group">
						<label for="rua">Rua</label>
						<input id="rua" name="rua" th:value="${endereco.rua}" type="text" class="form-control"/>
					</div>
				</div>
				
				<!-- Número -->
				<div class="col-sm-2">
					<div class="form-group">
						<label for="numero">Número</label>
						<input id="numero" name="numero" th:value="${endereco.numero}" type="text" class="form-control"/>
					</div>
				</div>
			</div>
			
			<!-- EMAIL | CEP -->
			<div class="row">
				<!-- Email -->
				<div class="col-sm-3">
					<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
						<label for="email"><span style="color: red;">* </span>E-mail</label>
						<input id="email" th:field="*{email}" type="text" class="form-control" placeholder="example@gmail.com"/>
					</div>
				</div>
				
				<!-- CEP -->
				<div class="col-sm-3">
					<div class="form-group">
						<label for="cep">CEP</label>
						<input id="cep" name="cep" th:value="${endereco.cep}" type="text" class="form-control"/>
					</div>
				</div>
			</div>
			
			<!-- CPF | BAIRRO -->
			<div class="row">
				<!-- CPF -->
				<div class="col-sm-3">
					<div class="form-group" th:classappend="${#fields.hasErrors('cpf')} ? has-error">
						<label for="cpf"><span style="color: red;">* </span>CPF</label>
						<input id="cpf" th:field="*{cpf}" type="text" class="form-control" placeholder="XXX.XXX.XXX-XX"/>
					</div>
				</div>
				
				<!-- Bairro -->
				<div class="col-sm-3">
					<div class="form-group">
						<label for="bairro">Bairro</label>
						<input id="bairro" name="bairro" th:value="${endereco.bairro}" type="text" class="form-control"/>
					</div>
				</div>
			</div>
			
			<!-- TELEFONE | CIDADE | ESTADO -->
			<div class="row">
				<!-- Telefone -->
				<div class="col-sm-3">
					<div class="form-group" th:classappend="${#fields.hasErrors('telefone')} ? has-error">
						<label for="telefone"><span style="color: red;">* </span>Telefone</label>
						<input id="telefone" name="telefone" th:field="*{telefone}" type="text" class="form-control" placeholder="XXXXX-XXXX"/>
					</div>
				</div>
				
				<!-- Cidade -->
				<div class="col-sm-3">
					<div class="form-group">
						<label for="cidade">Cidade</label>
						<input id="cidade" name="cidade" th:value="${endereco.cidade}" type="text" class="form-control"/>
					</div>
				</div>
				
				<!-- Estado -->
				<div class="col-sm-2">
					<div class="form-group">
						<label for="input-produto-estoque">Estado</label>
						<select class="form-control" id="estado" name="estado" th:value="${endereco.estado}">
							<option value="" label="-- Selecione --"></option>
							<option th:each="enums : ${enumEstado}" th:value="${enums}" th:text="${enums.descricao}"></option>
                    	</select>
					</div>
				</div>
			</div>
			
			<!-- SEXO | DATA DE NASCIMENTO -->
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group" th:classappend="${#fields.hasErrors('sexo')} ? has-error">
						<label for="input-produto-estoque"><span style="color: red;">* </span>Sexo</label>
						<select class="form-control" id="sexo" name="sexo" th:field="*{sexo}" >
							<option value="" label="-- Selecione --"></option>
							<option th:each="enums : ${enumSexo}" th:value="${enums}" th:text="${enums.descricao}"></option>
                    	</select>
					</div>
				</div>
			</div>
				
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group" th:classappend="${#fields.hasErrors('data_nascimento')} ? has-error">
						<label for="data_nascimento">Data de Nascimento</label>
						<input id="data_nascimento" th:field="*{data_nascimento}" type="text" class="form-control" placeholder="06/11/1989"/>
					</div>
				</div>	
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<a th:href="@{/clientes}" class="btn  btn-default">Voltar</a>
			</div>
		</form>
	</div>

</section>
</body>
</html>