<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>MVarandas</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
				
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="table-responsive">
		
			<div>
				<h2 th:text="${cliente.nome}"></h2>
				<hr/>
			</div>
		
			<table id="tabela-user" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
				<thead class="aw-table-header-solid">
					<tr>
						<td style="padding-bottom: 10px;"><b>Código: </b></td>
						<td style="padding-left: 10px; padding-bottom: 10px;" th:text="${cliente.id}"></td>
					</tr>
					<tr>
						<td style="padding-bottom: 10px;"><b>CPF: </b></td>
						<td style="padding-left: 10px; padding-bottom: 10px;" th:text="${cliente.cpf}"></td>
					</tr>
					<tr>
						<td style="padding-bottom: 10px;"><b>Email: </b></td>
						<td style="padding-left: 10px; padding-bottom: 10px;" th:text="${cliente.email}"></td>
					</tr>
				</thead>
				<tbody>
					<!-- Não utilizado -->
				</tbody>
			</table>
			
			<div class="form-group">
				<a th:href="@{/clientes/atualizar/{codigo}(codigo=${cliente.id})}" class="btn  btn-primary" type="submit">Editar</a>
				<a th:href="@{/clientes/excluir/{codigo}(codigo=${cliente.id})}" class="btn  btn-primary" type="submit">Excluir</a>
				<a th:href="@{/clientes}" class="btn  btn-default">Voltar</a>
			</div>
		</div>
	</div>

</section>
</body>
</html>