<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	  
    <title>MVarandas</title>

    <!-- bootstrap-wysiwyg -->
    <link th:href="@{/vendors/google-code-prettify/bin/prettify.min.css}" rel="stylesheet"/>
    <!-- Select2 -->
    <link th:href="@{/vendors/select2/dist/css/select2.min.css}" rel="stylesheet"/>
    <!-- Switchery -->
    <link th:href="@{/vendors/switchery/dist/switchery.min.css}" rel="stylesheet"/>
    <!-- starrr -->
    <link th:href="@{/vendors/starrr/dist/starrr.css}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet"/>
    <!-- Custom Theme Style -->
    <link th:href="@{/build/css/custom.min.css}" rel="stylesheet"/>
    <!-- Bootstrap -->
    <link th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Font Awesome -->
    <link th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
    <!-- NProgress -->
    <link th:href="@{/vendors/nprogress/nprogress.css}" rel="stylesheet"/>
    <!-- iCheck -->
    <link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet"/>
	<!-- Datatables -->
    <link th:href="@{/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom Theme Style -->
    <link th:href="@{/build/css/custom.min.css}" rel="stylesheet"/>
    <!-- bootstrap-progressbar -->
    <link th:href="@{/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet"/>
    <!-- JQVMap -->
    <link th:href="@{/vendors/jqvmap/dist/jqvmap.min.css}" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet"/>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-globe"></i> <span>MVarandas</span></a>
            </div>

            <div class="clearfix"></div>

                        <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img th:src="@{/images/img.png}" alt="..." class="img-circle profile_img"/>
              </div>
              <div class="profile_info">
                <span>Bem-vindo,</span>
                <h2>Bruno Felix</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Gerenciamento</h3>
                <ul class="nav side-menu">
                  <li class="active"><a><i class="fa fa-users"></i> Clientes <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: block;">
                      <li><a th:href="@{/clientes/novo}">Novo</a></li>
                      <li><a th:href="@{/clientes}">Listagem</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img th:src="@{/images/img.png}" alt=""/>Bruno Felix
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Editar dados</h3>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                  <div class="x_content">
                    <br />
                    <form method="POST" th:action="@{/clientes/alterar}" th:object="${cliente}" id="demo-form2" class="form-horizontal form-label-left">

					<!-- MENSAGEM DE SUCESSO -->
		    		<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
			    		<span th:text="${mensagem}"></span>
			    		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    				<span aria-hidden="true">&times;</span>
		    			</button>
		    		</div>
		    		
		    		<!-- ALERTA DE CAMPOS VALIDADOS-->
		    		<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
			    		 <div th:each="error : ${#fields.detailedErrors()}">
			    			<span th:text="${error.message}"></span>
			    		</div>
		    		</div>
		    		
		    		<input type="hidden" th:field="*{id}"/>

                      <!-- NOME | RUA | NÚMERO -->
                      <div class="form-group">
                      <div class="row">
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">Nome 
                        <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12" th:classappend="${#fields.hasErrors('nome')} ? has-error">
                          <input type="text" id="nome" name="nome" th:field="*{nome}" class="form-control col-md-3 col-xs-12"/>
                        </div>
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">Rua 
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input type="text" id="rua" name="rua" th:value="${cliente.endereco.rua}" class="form-control col-md-3 col-xs-12"/>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                          <input type="text" id="numero" name="numero" th:value="${cliente.endereco.numero}" class="form-control col-md-3 col-xs-12" placeholder="Número" data-inputmask="'mask' : '99999'"/>
                        </div>
                        </div>
                      </div>

                      <!-- EMAIL | CEP -->
                      <div class="form-group">
                      <div class="row">
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">Email 
                        <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12" th:classappend="${#fields.hasErrors('email')} ? has-error">
                          <input type="text" id="email" name="email" th:field="*{email}" class="form-control col-md-3 col-xs-12" placeholder="seuemail@gmail.com"/>
                        </div>
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">CEP 
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input type="text" id="cep" name="cep" th:value="${cliente.endereco.cep}" class="form-control col-md-3 col-xs-12" placeholder="99999-999" data-inputmask="'mask' : '99999-999'"/>
                        </div>
                      </div>
                      </div>

                      <!-- CPF | BAIRRO -->
                      <div class="form-group">
                      <div class="row">
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">CPF 
                        <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12" th:classappend="${#fields.hasErrors('cpf')} ? has-error">
                          <input type="text" id="cpf" name="cpf" th:field="*{cpf}" class="form-control col-md-3 col-xs-12" placeholder="999.999.999-99" data-inputmask="'mask' : '999.999.999-99'"/>
                        </div>
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">Bairro 
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input type="text" id="bairro" name="bairro" th:value="${cliente.endereco.bairro}" class="form-control col-md-3 col-xs-12"/>
                        </div>
                      </div>
                      </div>

                      <!-- TELEFONE | CIDADE | ESTADO -->
                      <div class="form-group">
                      <div class="row">
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">Telefone 
                          <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12" th:classappend="${#fields.hasErrors('telefone')} ? has-error">
                          <input type="text" id="telefone" name="telefone" th:field="*{telefone}" class="form-control col-md-3 col-xs-12" placeholder="DDD 99999-9999" data-inputmask="'mask' : '(999) 99999-9999'"/>
                        </div>
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">Cidade 
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input type="text" id="cidade" name="cidade" th:value="${cliente.endereco.cidade}" class="form-control col-md-3 col-xs-12"/>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                          <select class="form-control" id="estado" name="estado" th:value="${cliente.endereco.estado}">
                            <option value="" label="-- Estado --"></option>
                            <option th:each="enums : ${enumEstado}" th:value="${enums}" th:text="${enums.descricao}"></option>
                      	  </select>
                        </div>
                      </div>
                      </div>

                      <!-- SEXO -->
                      <div class="form-group">
                      <div class="row">
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">Sexo 
                        <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12" th:classappend="${#fields.hasErrors('sexo')} ? has-error">
                          <select class="form-control" id="sexo" name="sexo" th:field="*{sexo}" >
							<option value="" label="-- Selecione --"></option>
							<option th:each="enums : ${enumSexo}" th:value="${enums}" th:text="${enums.descricao}"></option>
                    	  </select>
                        </div>
                        </div>
                      </div>

                      <!-- DATA DE NASCIMENTO -->
                      <div class="form-group">
                      <div class="row">
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">
                          <span style="color: red;">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12" th:classappend="${#fields.hasErrors('data_nascimento')} ? has-error">
                          <input type="text" id="data_nascimento" name="data_nascimento" th:field="*{data_nascimento}" class="form-control col-md-3 col-xs-12" placeholder="Data de nascimento" data-inputmask="'mask': '99/99/9999'"/>
                        </div>
                      </div>
                      </div>

                      <div class="ln_solid"></div>

                      <div class="form-group">
                          <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-0">
                          <button type="submit" class="btn btn-success">Salvar</button>
                          <button class="btn btn-primary" type="reset">Limpar</button>
                          <a th:href="@{/clientes}" class="btn btn-default" >Voltar</a>
                          </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Bruno Felix - Sistema CRUD<a href="http://www.mvarandas.com.br/"> MVarandas</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/vendors/nprogress/nprogress.js}"></script>
    <!-- bootstrap-progressbar -->
    <script th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
    <!-- iCheck -->
    <script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
    <!-- bootstrap-daterangepicker -->
    <script th:src="@{/vendors/moment/min/moment.min.js}"></script>
    <script th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <!-- bootstrap-wysiwyg -->
    <script th:src="@{/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
    <script th:src="@{/vendors/jquery.hotkeys/jquery.hotkeys.js}"></script>
    <script th:src="@{/vendors/google-code-prettify/src/prettify.js}"></script>
    <!-- jQuery Tags Input -->
    <script th:src="@{/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
    <!-- Switchery -->
    <script th:src="@{/vendors/switchery/dist/switchery.min.js}"></script>
    <!-- Select2 -->
    <script th:src="@{/vendors/select2/dist/js/select2.full.min.js}"></script>
    <!-- Parsley -->
    <script th:src="@{/vendors/parsleyjs/dist/parsley.min.js}"></script>
    <!-- Autosize -->
    <script th:src="@{/vendors/autosize/dist/autosize.min.js}"></script>
    <!-- jQuery autocomplete -->
    <script th:src="@{/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
    <!-- starrr -->
    <script th:src="@{/vendors/starrr/dist/starrr.js}"></script>
    <!-- Custom Theme Scripts -->
    <script th:src="@{/build/js/custom.min.js}"></script>
    <!-- bootstrap-daterangepicker -->
    <script th:src="@{/vendors/moment/min/moment.min.js}"></script>
    <script th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <!-- Ion.RangeSlider -->
    <script th:src="@{/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js}"></script>
    <!-- Bootstrap Colorpicker -->
    <script th:src="@{/vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js}"></script>
    <!-- jquery.inputmask -->
    <script th:src="@{/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js}"></script>
    <!-- jQuery Knob -->
    <script th:src="@{/vendors/jquery-knob/dist/jquery.knob.min.js}"></script>
    <!-- Cropper -->
    <script th:src="@{/vendors/cropper/dist/cropper.min.js}"></script>
	<!-- Custom Theme Scripts -->
    <script th:src="@{/build/js/custom.min.js}"></script>
  </body>
</html>
